header {
  text-align: center;
  padding: 20px;
}

loan-tax {
  padding: 20px;
}

main {
  padding: 0 5% 0 5%;

}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.col {
  flex-basis: 30%;
  border: 1px solid #ccc;
  padding: 10px;
}
